<!DOCTYPE html>
<html lang="pl">
    <head>
    <meta charset="utf-8">
    <title>Template &middot; Bootstrap</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/stylesheets/bootstrap.css" rel="stylesheet">
    <link href="public/stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="public/javascripts/bootstrap.min.js" rel="javascript" type="text/javascript">
    <style type="text/css">
body {
	padding-top: 20px;
	padding-bottom: 40px;
}
/* Custom container */
      .container-narrow {
	margin: 0 auto;
	max-width: 700px;
}
.container-narrow > hr {
	margin: 30px 0;
}
/* Main marketing message and sign up button */
      .jumbotron {
	margin: 60px 0;
	text-align: center;
}
.jumbotron h1 {
	font-size: 72px;
	line-height: 1;
}
.jumbotron .btn {
	font-size: 21px;
	padding: 14px 24px;
}
/* Supporting marketing content */
      .marketing {
	margin: 60px 0;
}
.marketing p + h4 {
	margin-top: 28px;
}
</style>
    <link href="../assets/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="../assets/ico/favicon.png">
    </head>

    <body>
<div class="container">
<div class= "nav-pills pull-right">
      <ul class="nav nav-pills pull-right">
    <li> <a href="#">Moje umowy</a> </li>
    <li> <a href="#">Moi pracownicy</a> </li>
    <li> <a href="#">Moje dzieła</a> </li>
  </ul>
    </div>
<div class="page-header offset1">
      <h1>Śmieciówki.pl</h1>
      <h6>Zarządzanie umowami śmieciowymi</h6>
    </div>
    
<div class="row">
<div class="span2"> </div>
<div class="span8">
      
      <div class="well">
      <form>
      
      <h3>Styczeń 2013</h3>
      
      <div>
      <button class="btn btn-success"><i class="icon-plus icon-white"></i>Dodaj nową umowę</button>
      </div>
      <div>
     



      <% if (typeof Expenses != 'undefined') { %>
      <table class="table table-striped">
      		<thead>
            	<th>#</th>
            	<th>Imię i nazwisko</th>
                <th>Zalączniki</th>
                <th>Status</th>
                <th>Kwota</th>
            </thead>
            
           <tbody>
           		<tr>
                <%  for(var i=0;i<Expenses.length;i++) { %>
                	<td>1</td>
                    <td><%= Umowa[i].imieNazwisko %></td>
                    <td><a href="<%= Umowa[i].zalacznik %>">Pobierz załącznik</a></td>
                    <td><label value="1" class="checkbox">
      					<input type="checkbox"></td>
                    <td><%= Umowa[i].Kwota %></td>
                </tr>
                <% 
				} //for
				%>
                <tr>
                <%  for(var i=0;i<Expenses.length;i++) { %>
                	<td>2</td>
                    <td><%= Umowa[i].imieNazwisko %></td>
                    <td><a href="<%= Umowa[i].zalacznik %>">Pobierz załącznik</a></td>
                    <td><label value="1" class="checkbox">
      					<input type="checkbox"></td>
                    <td><%= Umowa[i].Kwota %></td>
                </tr>
                <% 
				} //for
				%>
               <tr>
                <%  for(var i=0;i<Expenses.length;i++) { %>
                	<td>3</td>
                    <td><%= Umowa[i].imieNazwisko %></td>
                    
                    <td><a href="<%= Umowa[i].zalacznik %>">Pobierz załącznik</a></td>
                    <td><label value="1" class="checkbox">
      					<input type="checkbox"></td>
                    <td><%= Umowa[i].Kwota %></td>
                </tr>
                <% 
				} //for
				%>
                <tr>
                	<td>Podsumowanie</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td><%= Umowa[i].Kwota %></td>
                </tr>
           </tbody>
      </table>
        <%
		} //if
        %>
      </div>
                     
                         
                    </div>
        </form>
	</div>
	</div> 
</form>

	        <div class="span2"> </div>
    </div>
</div>
</body>
</html>

